# Flutter
**/build/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.metadata
**/pubspec.lock
**/Podfile.lock

# Kotlin / Android
**/.gradle/
**/local.properties
**/.idea/
**/*.iml
**/captures/

# General
**/.DS_Store
**/.vscode/
**/*.log
**/node_modules/

# FastAPI / Python
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.pid
*.json

# FastAPI logs
fastapi-logs/
fastapi-logs/venv/
fastapi-logs/__pycache__/
fastapi-logs/.env
fastapi-logs/*.pyc
fastapi-logs/.pytest_cache/
fastapi-logs/firebase-key.json